.filtro
{
    margin-top: 20px;
}

#form-control{
    background-color: #E1E7D06B; 
    border-radius: 15px;
}

.botonFiltro {
    border: none; 
    border-radius: 15px; 
    background-color: #E1E7D06B; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.botonFiltro:hover {
    background-color: #E1E7D0; 
}

.container-evento {
    background-color: #E1E7D0; 
    border-radius: 15px; 
    padding: 20px; 
    margin: 20px auto; 
    width: flex; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.evento-item {
    width: 100%; 
    margin-bottom: 20px; 
}

.btned {
    width: 100%; 
    border: 2px solid #E1E7D0; 
    border-radius: 5px; 
    background-color: white; 
    color: black;
    transition: background-color 0.3s, color 0.3s; 
}

.btned:hover {
    background-color: #a8b585;
}

.btne {
    width: 100%; 
    border: 2px solid #E1E7D0; 
    border-radius: 5px;
    background-color: white; 
    color: black; 
    transition: background-color 0.3s, color 0.3s; 
}

.btne:hover {
    background-color: rgb(226, 108, 108); 
}

.btni {
    width: 100%; 
    border: 2px solid #E1E7D0; 
    border-radius: 5px;
    background-color: white; 
    color: black; 
    transition: background-color 0.3s, color 0.3s; 
}

.btni:hover {
    background-color: rgb(234, 218, 115); 
}
