#searchButton {
    background-color: #E1E7D06B;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#searchButton:hover {
    background-color: #E1E7D0;
}