.filtro {
    margin-top: 20px;
}

#form-control {
    background-color: #E1E7D06B;
    border-radius: 15px;
}


.botonFiltro {
    border: none;
    border-radius: 15px;
    background-color: #E1E7D06B;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botonFiltro:hover {
    background-color: #E1E7D0;
}

.container-empleo {
    background-color: #E1E7D0;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 15px;
}

.empleo-item {
    width: 100%;
}

.empleo-details {
    padding: 10px;
    background-color: #eef1e5;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}

.empleo-details.open {
    height: auto;
}

.titulo-empleo {
    font-size: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

#arrowIcon {
    transition: transform 0.3s ease;
}

.rotate-down {
    transform: rotate(-90deg);
}