.container-solic {
    background-color: #E1E7D0;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.solic-item {
    width: 100%;
}

.solicitud-details {
    padding: 10px;
    background-color: #eef1e5;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 0;
    transition: height 0.5s ease;
}

.solicitud-details.open {
    height: auto;
}
.titulo-solic {
    font-size: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

.estado-empleo {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bi-geo-alt {
    display: block;
    margin-bottom: 10px;
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.rotate-down {
    transform: rotate(-90deg);
}