
.bg-inicio, .bg-alt {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  overflow-y: scroll;
}
.bg-inicio{
  background-image: url('../img/bg-inicio.avif');
}
.bg-alt{
  background-image: url('../img/bg-inicio.svg');
}

.bg-navbar {
  background-color: #E1E7D0;
}

img{
  width: 150px;
}