/* COMIENZA EMPLEO ALUMNO */

.filtro
{
    margin-top: 20px;
}

.form-control {
    background-color: #E1E7D06B;
    border-radius: 15px;
}


.botonFiltro {
    border: none; 
    border-radius: 15px; 
    background-color: #E1E7D06B; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
}

.botonFiltro:hover {
    background-color: #E1E7D0; 
}

.container-empleo {
    background-color: #E1E7D0; /* Color de fondo */
    border-radius: 15px; /* Bordes circulares */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto dentro del div */
    margin: 20px auto; /* Centra el div en la página */
    width: flex; /* Ajusta el ancho al contenido */
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: space-around; /* Espacia los elementos */
}

.empleo-item {
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho del contenedor */
    margin-bottom: 20px; /* Espacio entre elementos */
}

.empleo-details {
    padding: 10px;
    background-color: #eef1e5; /* Color de fondo para detalles */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 10px; /* Espacio entre el título y los detalles */
    text-align: left; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegúrate de que el ancho sea del 100% */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

.titulo-empleo{
    font-size: 20px;
}

ul {
    padding-left: 20px; /* Añadir espaciado a la izquierda para las listas */
    list-style-type: disc; /* Puedes cambiar esto a "circle" o "square" si lo deseas */
}

.mt-4 {
    margin-top: 1.5rem; /* Espacio adicional entre secciones */
}

.btn {
    width: 100%; /* Hacer que el botón ocupe el ancho completo del contenedor */
    border: 2px solid #E1E7D0; /* Bordes de color azul (puedes cambiar el color) */
    border-radius: 5px; /* Bordes redondeados */
    background-color: white; /* Color de fondo blanco */
    color: black; /* Color del texto */
    transition: background-color 0.3s, color 0.3s; /* Transiciones para hover */
}

.btn:hover {
    background-color: #a8b585; /* Cambia el fondo al hacer hover */
}