.filtro
{
    margin-top: 20px;
}

.form-control {
    background-color: #E1E7D06B;
    border-radius: 15px;
}


.botonFiltro {
    border: none; 
    border-radius: 15px; 
    background-color: #E1E7D06B; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.botonFiltro:hover {
    background-color: #E1E7D0; 
}

.container-empleo {
    background-color: #E1E7D0; 
    border-radius: 15px;
    padding: 20px; 
    text-align: center; 
    margin: 20px auto; 
    width: flex; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.empleo-item {
    width: 100%; 
    margin-bottom: 20px; 
}

.empleo-details {
    padding: 10px;
    background-color: #eef1e5; 
    border-radius: 10px; 
    margin-top: 10px; 
    text-align: left; 
    width: 100%;
    box-sizing: border-box; 
}

.titulo-empleo{
    font-size: 20px;
}

ul {
    padding-left: 20px; 
    list-style-type: disc; 
}

.mt-4 {
    margin-top: 1.5rem; 
}

.btn {
    width: 100%; 
    border: 2px solid #E1E7D0; 
    border-radius: 5px; 
    background-color: white; 
    color: black; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: #a8b585; 
}