.container-notif {
    background-color: #E1E7D0; 
    border-radius: 15px; 
    padding: 20px; 
    text-align: center; 
    margin: 20px auto; 
    width: flex; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.notif-item {
    width: 100%; 
    margin-bottom: 20px; 
}


.notif-titulo{
    font-size: 20px;
}

.mt-4 {
    margin-top: 1.5rem; 
}

.notif-titulo i {
    font-size: 24px; 
    margin-right: 8px; 
}
